* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  
}

body {
  height: 100vh;

}

li {
  list-style: none;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 1.2rem 0;
}

.admin-link {
  
}