@font-face {
  font-family: Lobster;
  src: url(./fonts/Lobster-Regular.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Lobster, Arial, Helvetica, sans-serif;
}

:root {
  --background-theme: #ffedca;
  --orangered-theme: #ff4000;
  --brown-theme: #511600;
  --brown-theme-shadow: rgba(81, 22, 0, 0.4);
  --brown-theme-light-shadow: rgba(81, 22, 0, 0.25);
  --gold-theme: #f8bd26;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-theme);
}

header {
  width: 100%;
  margin-bottom: 4.4rem;
  padding: 0.4rem 0;
  background-color: var(--orangered-theme);
  box-shadow: 0 0.2rem var(--background-theme), 0 0.6rem var(--orangered-theme);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn {
  border: none;
  margin: 0.4rem 0;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: var(--brown-theme);
  background-color: var(--background-theme);
  box-shadow: inset 0 -0.6rem 0.6rem 0 var(--brown-theme-light-shadow);
  border-radius: 50%;
  cursor: pointer;
}

.btn:hover {
  color: var(--orangered-theme);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6.4rem;
  font-weight: 700;
  text-shadow: 0.2rem 0.2rem 0.4rem var(--background-theme), 0.8rem 0.8rem 0.8rem var(--brown-theme-shadow);
  color: var(--orangered-theme);
}

h4 {
  margin: 0.4rem 0 2.4rem;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 700;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--orangered-theme);
}

p {
  font-size: 2.8rem;
  color: var(--brown-theme);
}

.welcome-p {
  margin-bottom: 2rem;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.img-container img {
  max-width: 64rem;
  box-shadow: 1.2rem 1.2rem 1.2rem 0 var(--brown-theme-shadow);
}

.link-container {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--brown-theme);
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 1.2rem 0;
  background-color: var(--orangered-theme);
}

.admin-link {
  color: var(--background-theme);
}