@font-face {
  font-family: Play-Bold;
  src: url(./fonts/Play-Bold.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Play-Bold, Arial, Helvetica, sans-serif;
}

:root {
  --main-theme: rgba(17, 17, 17, 0.5);
  --black-theme: #333;
  --gray-theme: #788888;
  --lightgray-theme: #b5c5c5;
  --white-theme: #efffff;
  --red-theme: #ff5011;
  --orange-theme: #ffa500;
  --yellow-theme: #ffe600;
  --lightgreen-theme: #45ff45;
  --super-lightblue-theme: #d7ffff;;
  --lightblue-theme: #00f4f4;
  --pink-theme: #ff78cb;
  --shadow-theme: #788888;
  --blue-shadow-theme: #25acac;
  --green-shadow-theme: #1ebd1e;
  --pink-shadow-theme: #da5ba9;
  --transparent-theme: #0000;
  --modal-theme: rgba(0, 0, 0, 0.5);
  --background-theme: #3d81b9;
}

html {
  font-size: 10px;
}

button {
  border: none;
  color: var(--black-theme);
  cursor: pointer;
}

dialog {
  width: 48rem;
  margin: 21.8rem auto 0;
  border-radius: 0.8rem;
  background-color: var(--super-lightblue-theme);
}

dialog::backdrop {
  background-color: var(--modal-theme);
}

.dialog-create-project,
.dialog-edit-project,
.dialog-delete-project,
.dialog-delete-todo,
.dialog-control-todo {
  padding: 4.8rem 2rem 2rem;
}

.dialog-control-project {
  padding: 3.6rem 2rem 2rem;
}

.dialog-add-todo,
.dialog-edit-todo {
  padding: 2.4rem;
}

.dialog-create-project form,
.dialog-edit-project form,
.dialog-delete-project form,
.dialog-delete-todo form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-create-project form,
.dialog-edit-project form {
  gap: 4rem;
  padding: 0.8rem 0 1.2rem;
}

.dialog-delete-project form,
.dialog-delete-todo form {
  gap: 8.8rem;
  padding: 5rem 0 1.2rem;
}

.dialog-add-todo form,
.dialog-edit-todo form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dialog-header {
  font-size: 2.6rem;
}

dialog label,
dialog input,
dialog textarea,
dialog select {
  font-size: 1.8rem;
}

.dialog-header,
dialog label,
dialog input,
dialog textarea,
dialog select {
  color: var(--black-theme)
}

dialog label {
  margin-right: 0.2rem;
}

dialog input,
dialog textarea,
dialog select {
  background-color: var(--white-theme);
  border-radius: 0.4rem;
}

dialog input,
dialog select {
  padding: 0.2rem;
}

dialog svg {
  width: 2rem;
  fill: var(--orange-theme);
}

.dialog-control-project .btn-container,
.dialog-control-todo .btn-container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: 1rem 2rem 3rem;
}

.todo-description {
  margin: 0 1.6rem 3.6rem;
  padding: 1.2rem;
  border: 0.4rem double var(--black-theme);
  border-radius: 0.4rem;
  font-size: 2rem;
  background-color: var(--white-theme);
}

.no-todo-description {
  color: var(--gray-theme);
}

.description-container {
  width: 100%;
  margin-top: -0.4rem;
}

#description,
#description-for-edit {
  resize: none;
  width: 100%;
  margin-top: 0.4rem;
  padding: 0.4rem;
}

.date-time-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
}

.date-time-row p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

#due-date,
#due-date-for-edit {
  width: 15.6rem;
}

.dialog-add-todo .btn-container,
.dialog-edit-todo .btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2.4rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2.8rem;
}

.btn {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0 var(--shadow-theme);
}

.btn:hover {
  color: var(--white-theme);
}

.create-btn,
.add-btn,
.complete-btn {
  background-color: var(--lightblue-theme);
  box-shadow: 0 0.6rem 0 var(--blue-shadow-theme);
}

.edit-btn {
  background-color: var(--lightgreen-theme);
  box-shadow: 0 0.6rem 0 var(--green-shadow-theme);
}

.delete-btn {
  background-color: var(--pink-theme);
  box-shadow: 0 0.6rem 0 var(--pink-shadow-theme);
}

.cancel-btn {
  background-color: var(--lightgray-theme);
  box-shadow: 0 0.6rem 0 var(--shadow-theme);
}

.alert {
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.8rem;
  color: var(--black-theme);
}

.alert-no-project-title,
.alert-no-edit-project-title {
  margin: -3.4rem 3.2rem 0 0;
}

.alert-duplicated-title,
.alert-duplicated-edit-title {
  margin: -6.1rem 0.24rem 0 0;
}

.alert-no-todo-title,
.alert-no-edit-todo-title {
  margin: -0.2rem 0 0 5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  min-height: 100vh;
  padding: 6rem 0;
  background: linear-gradient(var(--black-theme), var(--background-theme));
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title,
.arrow-btn,
.project-title-btn {
  color: var(--white-theme);
}

.app-title {
  margin-bottom: 4rem;
  font-size: 4rem;
  text-shadow: 0 0.4rem var(--blue-shadow-theme);
}

.project-title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.2rem;
}

.arrow-btn {
  visibility: hidden;
  margin-top: -0.4rem;
  font-size: 2.2rem;
  background-color: var(--transparent-theme);
}

.left-btn {
  padding: 0 0.4rem 0 2rem;
}

.right-btn {
  padding: 0 2rem 0 0.4rem;
}

.arrow-btn:hover,
.project-title-btn:hover {
  opacity: 0.8;
}

.project-title-btn {
  padding: 0.4rem;
  font-size: 2.8rem;
  background-color: var(--transparent-theme);
}

.add-todo-btn {
  margin-bottom: 4.6rem;
  background-color: var(--lightblue-theme);
  box-shadow: 0 0.6rem 0 var(--blue-shadow-theme);
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#todo-container {
  list-style: none;
  width: 48rem;
  border: 0.4rem solid var(--lightgray-theme);
  border-radius: 0.8rem;
}

.todo-item {
  height: 10rem;
  padding: 2rem;
  border-bottom: 0.2rem dashed var(--lightgray-theme);
  background-color: var(--white-theme);
  cursor: pointer;
  animation: slide-todo 0.4s;
  transition: opacity 0.15s;
}

@keyframes slide-todo {
  from {
    transform: translate(-48rem);
  }

  to {
    transform: translate(0);
  }
}

.todo-item:hover {
  opacity: 0.85;
}

.todo-item:first-child {
  border-radius: 0.4rem 0.4rem 0 0;
}

.todo-item:last-child {
  border-bottom: none;
  border-radius: 0 0 0.4rem 0.4rem;
}

.todo-item:only-child {
  border-radius: 0.4rem;
}

.todo-title-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.todo-title {
  flex: 1;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2.2rem;
  color: var(--black-theme);
}

.check-mark {
  width: 2rem;
  height: 2rem;
  fill: var(--transparent-theme);
  background-color: var(--lightgray-theme);
  border: 0.2rem solid var(--black-theme);
}

.low {
  background-color: var(--lightgreen-theme);
}

.medium {
  background-color: var(--yellow-theme);
}

.high {
  background-color: var(--red-theme);
}

.checked {
  fill: var(--lightblue-theme);
  background-color: var(--black-theme);
}

.todo-date-row {
  display: flex;
  justify-content: space-between;
}

.todo-due-date-container {
  margin-left: 3rem;
}

.todo-due-date,
.todo-time {
  font-size: 2rem;
  color: var(--gray-theme);
}

.todo-due-date-margin {
  margin-right: 1.2rem;
}

.footer {
  display: flex;
  justify-content: center;
}

.admin-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--white-theme);
}

.admin-link:hover {
  text-decoration: underline;
}

@media screen and (orientation: portrait) and (max-width: 30rem) {
  dialog,
  #todo-container {
    width: 84vw;
  }

  .date-time-row p {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
  }
}

@media screen and (orientation: landscape) and (max-height: calc(30rem - 100px)) {
  dialog {
    margin: 0 auto;
  }
}

@media screen and (max-width: 20rem) {
  html {
    font-size: 6px;
  }
}

@media screen and (min-width: 20.01rem) and (max-width: 24rem) {
  html {
    font-size: 7px;
  }
}

@media screen and (min-width: 24.01rem) and (max-width: 47.99rem) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 24.01rem) and (max-width: 47.99rem) and (min-height: calc(50rem - 100px)) {
  html {
    font-size: 8.5px;
  }
}

@media screen and (min-width: 24.01rem) and (max-width: 47.99rem) and (min-height: calc(54rem - 100px)) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 48rem) and (min-height: calc(70rem - 100px)) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 48rem) and (min-height: calc(82rem - 100px)) {
  html {
    font-size: 14px;
  }
}
